<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/style/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/adminDashboard.css}">
    <title>User dashboard</title>
</head>
<body>

<div class="container">
    <header class="header">
        <nav class="nav">
            <div class="nav__greeting">
                <h1>Hello, <span class="nav__greeting--name" th:text="${user.getUsername()}"></span></h1>
            </div>

            <div class="nav__greeting__logout">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">
                        <svg class="nav__greeting__logout--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M16 17v-2h-4v-2h4v-2l4 3-4 3zm-2-13a2 2 0 0 1 2 2v4h-2V6H6v12h8v-2h2v4a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h8z"/>
                        </svg>
                        <span>Logout</span>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="user__panel">

            <div class="user__panel__work">

                <div th:if="${!activeShift}" class="user__panel__work--start">
                    <form action="/userDashboard/start" method="post">
                        <input type="submit" value="Start shift">
                    </form>
                </div>

                <div th:if="${activeShift}" class="user__panel__work__end">
                    <form action="/userDashboard/end" method="post">
                        <input type="submit" value="End shift">
                    </form>
                </div>

                <div class="user__panel__work__duration">
                    <h3>My Work History</h3>

                    <table class="user__panel__work__duration__table">
                        <tr class="user__panel__work__duration__table--header">
                            <th class="user__panel__work__duration__table--start">Start Time</th>
                            <th class="user__panel__work__duration__table--end">End Time</th>
                            <th class="user__panel__work__duration__table--total">Total Time</th>
                        </tr>
                        <tr class="user__panel__work__duration__table--main" th:each="shift : ${shifts}">
                            <td class="user__panel__work__duration__table--start"
                                th:text="${shift.getFormattedStartTime()}"></td>
                            <td class="user__panel__work__duration__table--end"
                                th:text="${shift.getFormattedEndTime()}"></td>
                            <td class="user__panel__work__duration__table--total"
                                th:text="${shift.getFormattedDuration()}"></td>
                        </tr>
                    </table>

                </div>

            </div>

            <div class="user__panel__holiday">
                <a class="user__panel__holiday--book" href="/holiday">Book a holiday</a>
            </div>

            <div class="user__panel__order">
                <a class="user__panel__order--menu" href="/menu">Make an order</a>
            </div>
        </div>
    </main>
</div>

</body>
</html>